.projectsTop {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--main-text-color);
  margin-bottom: 20px;
}

.createButton {
  padding: 4px 10px;
}

.input {
  margin-right: 5px;
}
