.taskDescription {
  padding: 10px 15px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.descrButtonBlock {
  padding: 10px 0;
}
.subDescr {
  padding-left: 10px;
  border-left: 1px solid var(--main-text-color);
}
